<!-- index.ejs -->
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/categories.css">
    <title>Categories</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container">
        <div class="heading">
            <h2>Categories</h2>
            <div class="addCategory button"><a href="/categories/new">Add a Category</a></div>
        </div>
        <div class="main">
            <% for (const category of categories) { %>
            <a href="/categories/<%= category.id%>">
              <div class="card">
                <h3><%= category.name%></h3>
                <p>Products: <%= category.product_count%></p>
                <div class="colorContainer">
                    <p> Color: </p>
                    <span class="color" style="background-color: <%= category.color%>;"></span>
                </div>
              </div>
            </a>
            <% } %>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
