<!-- newCategory.ejs -->
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/newCategory.css">
    <title>new Category</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container">
        <div class="heading">
            <h2>Add a Category</h2>
        </div>
        <div class="main">
            <form class="categoryForm" action="/categories/new" method="post">
                <!-- Category name -->
                <label>
                    Category name
                    <input type="text" name="name" placeholder="Fruits" value="<%= values?.name || '' %>" required>
                </label>

                <!-- Category color -->
                <label class="colorPicker">
                    Color
                    <div class="colorInput">
                        <input type="color" name="color" value="#ff0000" value="<%= values?.color || '#ff0000' %>" required>
                    </div>
                </label>

                <% if (errors && errors.length > 0) { %>
                <ul class="errors">
                    <% errors.forEach(err => { %>
                    <li><%= err.msg %></li>
                    <% }) %>
                </ul>
                <% } %>

                <button type="submit">Add Category</button>
            </form>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
